* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  width: 500px;
  margin: 0;
  padding: 12px;
  background: #0f172a;
  color: #e5e7eb;
}

.header {
  margin-bottom: 10px;
}

h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

/* ===== Cards ===== */

.card {
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 12px;
}

/* ===== Inputs ===== */

.label {
  font-size: 12px;
  margin-bottom: 6px;
  display: block;
}

.row {
  display: flex;
  gap: 6px;
}

input {
  flex: 1;
  background: #020617;
  border: 1px solid #334155;
  border-radius: 8px;
  padding: 8px 10px;
  color: #e5e7eb;
  outline: none;
}

input::placeholder {
  color: #64748b;
}

/* ===== Buttons ===== */

.btn {
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 13px;
  cursor: pointer;
}

.btn.primary {
  width: 100%;
  background: #22c55e;
  color: #052e16;
  font-weight: 600;
  margin-top: 10px;
}

.btn.primary:hover {
  background: #16a34a;
}

.btn.secondary {
  background: #1e293b;
  color: #e5e7eb;
}

.btn.secondary:hover {
  background: #334155;
}

/* ===== Status ===== */

.status {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  margin-bottom: 8px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.dot.idle {
  background: #64748b;
}

.dot.loading {
  background: #facc15;
}

.dot.success {
  background: #22c55e;
}

.dot.error {
  background: #ef4444;
}

/* ===== Result ===== */

.result {
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 8px;
  padding: 10px;
  font-size: 12px;
  min-height: 80px;
  white-space: pre-wrap;
  line-height: 1.4;
  max-height: 50vh;
  overflow-x: hidden;
}

.result.empty {

}


p {
  margin: 0!important;
}